*,
*::before,
*::after {
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  --font-family:Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  padding: 1rem 2rem 0.4rem;
  max-width: 90rem;
}

html {
  font-size: 16px;
}

:root {
  --border-radius: 20px;
}

.p-card-footer {
  display: flex;
  justify-content: flex-end;
}

.p-card {
  padding: .75em;
  border-radius: var(--border-radius);
}

.p-inputtext,
.p-calendar {
  width: 100% !important;
}

.p-toast {
  max-width: calc(100vw - 40px);
}

.card-footer-left {
  display: flex;
  justify-content: flex-start;
  float: left;
}

.card-footer-right {
  display: flex;
  justify-content: flex-end;
  float: right;
}

.card-footer-wrapper {
  width: 100%;
}
